@font-face {
    font-family: 'Instagram Sans';
    src: url('/resources/fonts/instagram-sans/InstagramSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Instagram Sans';
    src: url('/resources/fonts/instagram-sans/InstagramSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Instagram Sans';
    src: url('/resources/fonts/instagram-sans/InstagramSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Instagram Sans';
    src: url('/resources/fonts/instagram-sans/InstagramSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Instagram Sans';
    src: url('/resources/fonts/instagram-sans/InstagramSans-Headline.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  